.mainTextDesc {
  display: flex;
  width: 100%;
  height: 230px;
  background: linear-gradient(135deg, #1a3d2f, #2e6b4f);
  color: rgb(237, 230, 230);
}
.mainEspacio1Text {
  align-self: center;
  width: 50%;
  padding: 50px;
}
.mainEspacio2Text {
  width: 50%;
  align-self: center;
  padding: 50px;

  text-align: end;
}
.mainEspacio1Text h2 {
  font-size: 2.4rem;
}
.mainEspacio1Text h3 {
  font-size: 1.2rem;
}
.mainEspacio1Text p {
  font-size: 1rem;
  width: 400px;
}
blockquote {
  font-style: italic;
  color: #fff;
  background: rgba(0, 0, 0, 0.4); /* fondo semi-transparente */
  padding: 20px;
  border-left: 5px solid #2e6b4f; /* acento verde elegante */
  border-radius: 5px;
  max-width: 600px;
  margin: 20px auto;
}

cite {
  display: block;
  text-align: right;
  margin-top: 10px;
  font-style: normal;
  color: #cfcfcf;
}
