.mainBox {
  display: flex;
  width: auto;
  height: 860px;
  flex-direction: row;
  justify-content: space-between;
}

.mainBoxes {
  width: 100%;
}

.botonDisponible {
  background-color: white;
  border-radius: 20px;
  border: 4px solid #7a1cac;
  color: black;
  position: relative;
  left: 210px;
  top: 60px;
  font-family: "Open Sans", serif;
  box-shadow: 0 0 10px #ad49e1, 0 0 20px #ad49e1, 0 0 30px #ad49e1,
    0 0 40px #ad49e1;
}

.tituloMain {
  color: azure;
  padding: 90px 0px 0px 90px;
  font-size: 100px;
  font-family: "Poppins", serif;
  margin-left: 120px;
}

.subtituloMain {
  color: azure;
  padding: 10px 0px 0px 90px;
  font-size: 30px;
  font-family: "Poppins", serif;
  margin-left: 120px;
}

.iconoDisponible {
  margin-bottom: 4px;
  margin-left: 3px;
  margin-right: 5px;
}

.espacioLenguajes {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.lenguajes {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-family: "Poppins", serif;
  backdrop-filter: blur(20px) saturate(64%);
  -webkit-backdrop-filter: blur(20px) saturate(64%);
  background-color: rgba(173, 73, 225, 0.48);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  color: aliceblue;
}

.botonesProfile {
  margin-top: 50px;
  font-size: 20px;
  margin-right: 10px;
  backdrop-filter: blur(20px) saturate(64%);
  -webkit-backdrop-filter: blur(20px) saturate(64%);
  background-color: rgba(0, 0, 0, 0.48);
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  color: aliceblue;
  padding: 15px;
  width: 200px;
  text-align: center;
  transition: all 0.5s ease;
}

.botonesProfile:hover {
  color: #ebd3f8;
  box-shadow: 0 0 10px #ad49e1, 0 0 20px #ad49e1, 0 0 30px #ad49e1,
    0 0 40px #ad49e1;
}

.iconosButton {
  margin-bottom: 3px;
  margin-right: 5px;
}

.iconDevelop {
  color: #ffffff;
  font-size: 600px;
  margin: 50px;
  text-shadow: 0 0 10px #ad49e1, 0 0 20px #ad49e1, 0 0 30px #ad49e1;
  filter: drop-shadow(0 0 10px #ad49e1) drop-shadow(0 0 20px #ad49e1);
}

@media screen and (max-width: 1742px) and (min-width: 1124px) {
  .mainBox {
    flex-direction: row;
    justify-content: space-between;
  }

  .tituloMain {
    font-size: 100px;
    margin-left: 10px;
  }

  .subtituloMain {
    font-size: 30px;
    margin-left: 10px;
  }

  .botonDisponible {
    left: 100px;
    top: 50px;
  }

  .iconDevelop {
    font-size: 500px;
    position: relative;
    right: 0px;
  }

  .botonesProfile {
    width: 180px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 978px) {
  .mainBox {
    flex-direction: row;
    justify-content: space-between;
    height: 500px;
  }

  .tituloMain {
    font-size: 50px;
    margin-left: 10px;
  }
  .mainBoxes {
    height: 500px;
  }
  .subtituloMain {
    font-size: 24px;
    margin-left: 10px;
  }

  .botonDisponible {
    left: 100px;
    top: 50px;
  }

  .espacioLenguajes {
    display: none;
  }

  .iconDevelop {
    font-size: 400px;
    position: relative;
    right: 10px;
  }

  .botonesProfile {
    width: 180px;
  }
}

@media screen and (max-width: 976px) and (min-width: 481px) {
  .mainBox {
    flex-direction: row;
    justify-content: space-between;
    height: 550px;
  }

  .tituloMain {
    font-size: 50px;
    margin-left: 10px;
  }

  .subtituloMain {
    font-size: 24px;
    margin-left: 10px;
  }

  .botonDisponible {
    left: 100px;
    top: 50px;
  }

  .espacioLenguajes {
    display: none;
  }

  .iconDevelop {
    font-size: 300px;
    position: relative;
    right: 20px;
  }

  .botonesProfile {
    width: 150px;
    height: 60px;
    font-size: 15px;
  }
  .espacioBotones {
    margin-left: 65px;
  }
}

@media screen and (max-width: 430px) {
  .mainBox {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 20px;
    padding: 20px;
  }

  .mainBoxes {
    width: 100%;
    text-align: center;
  }

  .tituloMain {
    font-size: 70px;
    margin: 0;
    padding: 10px 0;
  }

  .subtituloMain {
    font-size: 20px;
    margin: 0;
    padding: 5px 0;
  }

  .botonDisponible {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    width: auto;
    padding: 5px 10px;
  }

  .iconDevelop {
    font-size: 300px;
    margin: 20px 0;
  }

  .espacioLenguajes {
    display: none;
  }

  .lenguajes {
    width: 100px;
    height: 30px;
    font-size: 16px;
  }

  .botonesProfile {
    width: 150px;
    height: 50px;
    font-size: 14px;
    margin-top: 25px;
  }

  .iconosButton {
    margin-right: 5px;
    font-size: 16px;
  }
}
