.cardSobreMi {
  margin-top: 100px;
  width: 1500px;
  height: 700px;
  margin: 0 auto;
  border-radius: 40px;
  display: flex;
  margin-top: 100px;
}

.MainSobreMi {
  margin: 30px;
  height: 635px;
}

.MainSobreMi:first-child {
  position: relative;
  flex: 0 0 500px;
  height: 500px;
  margin-top: 164px;
  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);
  background-color: #2e073f;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
  flex-direction: column;
}

.cualitiesContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas */
  gap: 10px; /* Espacio entre elementos */
  margin-top: 20px;
  width: 80%; /* Ajusta el ancho del contenedor según sea necesario */
  margin: 0 auto;
}
/* Contenedor principal de Atropos */
.MainSobreMiLastChild {
  flex: 1;
  margin-top: 160px;
  height: 500px;
  padding: 40px 70px;
  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);
  border-radius: 12px;
  position: relative;
  background-color: #ffffff;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.iconAvatar {
  position: absolute;
  top: -105px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 7px solid #2e073f;
}

.cualities {
  backdrop-filter: blur(25px) saturate(180%);
  -webkit-backdrop-filter: blur(25px) saturate(180%);
  background-color: rgba(173, 73, 225, 0.31);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 5px 7px;
  color: white;
  text-align: center;
  font-family: "Poppins", serif;
}

.tituloCard {
  color: #ebd3f8;
  font-size: 30px;
  font-family: "Nunito", serif;
  margin-top: 100px;
  text-align: center;
}
.textoCardSobreMi {
  margin-top: 20px;
  padding: 30px;
}

.preferences {
  color: #ebd3f8;
  font-size: 18px;
  font-family: "Nunito", serif;
}

.preferences a {
  text-decoration: none;
  color: #ebd3f8;
}

.tituloTextoSobreMi {
  color: #2e073f;
  font-family: "Poppins", serif;
  font-size: 40px;
}

.subtituloTextoSobreMi {
  color: #7a1cac;
  font-family: "Nunito", serif;
  font-size: 30px;
}
.descripcionSobreMi {
  color: #ad49e1;
  font-family: "Nunito", serif;
  font-size: 24px;
}
a {
}
