.headerSetting {
  width: auto;
  margin: 50px;
}
.buttonSettings {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(145, 30, 199, 0.5);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.spanSettings {
  margin-left: 20px;
  font-size: 18px;
  color: white;
}
.boxMainProyect {
  display: flex;
  width: auto;
  margin: 50px;
}
.boxInnerMain {
  margin: 0 auto;
  width: 100%;
  padding: 0px 50px 50px 50px;
}

.botonProyectos {
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
}
.iconosSettings {
  margin-bottom: 5px;
  margin-right: 6px;
}
.hrStyleSettings {
  border: none;
  height: 3px;
  border-radius: 40px;
  width: 170px;
  background-color: #ffffff;
}
.tituloProyecto {
  font-size: 130px;
  color: white;
  font-family: "Poppins", serif;
}
.LenguajesProyecto {
  margin-top: 20px;
  font-size: 40px;
  color: white;
  font-family: "Poppins", serif;
}
.mainLenguajes {
  display: flex;
}
.iconosLenguajesProyecto {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(145, 30, 199, 0.5);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  width: 200px;
  border-radius: 20px;
  padding: 20px;
  margin: 2px;
  text-align: center;
}

.imagenProyecto {
  width: 560px;
  margin-left: 90px;
  border-radius: 20px;
  border: 2px solid rgb(211, 211, 211);
}

.mainFuncionalidad {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(145, 30, 199, 0.5);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.FuncionalidadProyecto {
  font-size: 40px;
  color: white;
  font-family: "Poppins", serif;
}
.ListItems {
  font-size: 17px;
  color: white;
  font-family: "Open Sans", serif;
}
.textoProyecto {
  font-size: 19px;
  color: aliceblue;
  font-family: "Open Sans", serif;
}
@media screen and (max-width: 1399px) and (min-width: 430px) {
  .boxMainProyect {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }

  .imagenProyecto {
    width: 100%;
    max-width: 560px;
    margin: 20px auto;
    display: block;
    border-radius: 20px;
  }

  .mainFuncionalidad {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    text-align: left;
    padding: 20px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(145, 30, 199, 0.5);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
}

@media screen and (max-width: 430px) {
  .buttonSettings {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 16px;
  }

  .spanSettings {
    font-size: 16px;
    margin-top: 5px;
  }

  .boxMainProyect {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  .boxInnerMain {
    width: 100%;
    padding: 10px;
  }

  .tituloProyecto {
    font-size: 40px;
    text-align: center;
  }

  .imagenProyecto {
    width: 100%;
    max-width: 380px;
    margin: 10px auto;
    display: block;
  }

  .textoProyecto {
    font-size: 20px;
    text-align: left;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
  }

  .mainFuncionalidad {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 15px;
  }
  .iconosLenguajesProyecto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 20px;
    text-align: center;
  }
  .FuncionalidadProyecto {
    font-size: 30px;
  }

  .ListItems {
    font-size: 20px;
  }
}
