.mainSobreMi {
  width: 100%;
  height: 100vh;
  /* degradado superior que coincide con el color final del div de arriba */
  background: linear-gradient(
      to top,
      rgba(15, 15, 15, 1) 0%,
      rgba(15, 15, 15, 0) 100%
    ),
    linear-gradient(45deg, #0f0f0f, #1c1c1c);
  background-blend-mode: normal;
}
