.header {
  padding: 20px 20px;
  margin-top: 20px;
  margin-right: 150px;
}

.headerNav {
  display: flex;
  justify-content: flex-end;
}

.headerMenu {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.headerMenu li {
  position: relative;
}

.headerMenu a {
  text-decoration: none;
  color: #ad49e1;
  font-weight: 500;
  padding: 5px 10px;
  transition: color 0.3s ease;
}

.headerMenu a:hover {
  color: #ebd3f8;
}

.headerMenu a.active {
  color: #ebd3f8;
}

.headerMenu a.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #007bff;
}
