/* Estilo general del header */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 450px;
  height: auto;
  background-color: #7a1cac;
  text-align: center;
  margin: 0 auto; /* Centra horizontalmente */
  position: relative; /* Permite ajustar la posición */
  top: 20px; /* Separa el header de la parte superior */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.headerNav {
  margin: 0;
  padding: 0px;
}

.headerMenu {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding: 0;
}

.headerMenu li {
  margin: 0;
  padding: 20px;
  margin-top: 10px;
}

.headerMenu a {
  text-decoration: none;
  color: #ad49e1;
  font-size: 1.2rem;
  transition: color 0.3s ease;
  font-family: "Poppins", serif;
  font-size: 18px;
}

.headerMenu a:hover {
  color: #ebd3f8; /* Azul más oscuro */
}
