.mainSectionHome {
  width: 100%;
  height: 100vh;
  /* gradiente que termina en un color difuminado para el siguiente div */
  background: linear-gradient(145deg, #1c1c1c, #0f0f0f 90%, #0f0f0f 100%);
  display: flex;
}

.mainTitleSpace {
  width: 800px;
  height: 300px;
  align-self: center;
  margin-left: 10%;
}
.mainTitleSpace h1 {
  font-size: 7.8rem;
  color: rgb(255, 255, 255);
}
.section1Space {
  display: flex;
}
.section1Space p {
  color: rgb(0, 0, 0);
  width: 50px;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  height: 20px;
  background-color: #ffffff;
}
.section2Space {
  color: #ffffff;
  font-size: 1.5rem;
}
.mainSchrollSpace {
  width: 100%;
  height: 50px;
}
.mainSchrollSpace {
  position: absolute;
  bottom: 20px; /* Distancia desde abajo */
  left: 50%;
  transform: translateX(-50%);
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  40% {
    transform: translateX(-50%) translateY(10px);
  }
  60% {
    transform: translateX(-50%) translateY(5px);
  }
}

.mainSchrollSpace div {
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
  width: 200px;
  height: 100%;
}
.mainSchrollSpace p {
  margin-bottom: 5px;
}
