.seccion1 {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: relative; /* 🔹 necesario para que el bottom funcione */
}

.contentSection1 {
  position: absolute;
  top: 200px; /* ajusta la distancia desde arriba */
  width: 100%;
  text-align: center;
}

.pasarelaWrapper {
  position: absolute;
  bottom: 0; /* 🔹 siempre abajo del section */
  left: 0;
  width: 100%;
  background: white; /* opcional */
  overflow: hidden;
}

.tituloSect1 {
  font-size: 6rem;
  color: aliceblue;
  font-family: "Zalando Sans", sans-serif;
  text-shadow: 0 0 10px #00eaff, 0 0 20px #b700ff;
}

.SubtituloSect1 {
  margin: 0;
  text-shadow: 2px 2px 0 #000, -1px -1px 0 #444;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: rgb(255, 255, 255);
  font-family: "Zalando Sans", sans-serif;
  font-weight: bold;
  line-height: 1.05;
  text-align: center;
}

.seccion2 {
  display: flex;
  width: 100%;
  height: 100vh;
}
.espacio1Sec2 {
  width: 50%;
  margin-top: 80px;
  float: left;
}
.espacio2Sec2 {
  width: 50%;
  float: left;
}
.tituloSec2 {
  float: left;
  font-size: 2rem;
  padding: 20px 10px 00px 20px;
}
.tituloSection2 {
  margin-top: 30px;
}
.espacioTextoSec2 {
  width: 1830px;
  font-family: "Zalando Sans", sans-serif;
  margin: 0 auto;
}

.headerCard {
  width: 100%;
  height: 30px;
  border-radius: 10px 10px 0px 0px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerCard h3 {
  font-family: "Zalando Sans", sans-serif;
  margin: 0;
  font-size: 1rem;
}
.textSect2 {
  font-size: 1.5rem;
}
