.mainBtn {
  background-color: rgba(86, 56, 139, 0.397);
  width: 1000px;
  margin: 0 auto;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.171);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.Btn {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(226, 226, 226);
  padding: 10px 20px;
  font-family: "Poppins", serif;
  margin: 5px;
  height: 70px;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.5s ease;
}
.Btn:hover {
  background-color: #803aa5;
  color: aliceblue;
}
.activeBtn {
  background-color: #ad49e1;
  color: aliceblue;
  border-radius: 5px;
  font-weight: bold;
}
.espacioProyectos {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.tituloSobreMi {
  margin-top: 150px;
  text-align: center;
  font-size: 70px;
  font-family: "Poppins", serif;
  color: #ad49e1;
}

.espacioCertificados {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.espacioCertificados img {
  width: 300px;
  height: auto;
}

.espacioLenguajes {
  margin: 0 auto;
  width: 800px;
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se muevan a una nueva línea cuando se necesite */
  justify-content: center; /* Centra los iconos horizontalmente */
  gap: 50px; /* Espacio entre los iconos */
  margin-top: 50px;
}

.lenguaje {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center; /* Centra el icono dentro de cada contenedor */
  align-items: center; /* Alinea el icono verticalmente */
}

.espacioHerramientas {
  margin: 0 auto;
  width: 800px;
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se muevan a una nueva línea cuando se necesite */
  justify-content: center; /* Centra los iconos horizontalmente */
  gap: 50px; /* Espacio entre los iconos */
  margin-top: 50px;
}
